* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

/* Style of the Same background*/
body{
    background:url(Aqua\ Splash.png);
    height:100%;
}

/* Style the nav bar */
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

/* Style of the links*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* style when hovered over*/
li a:hover:not(.active) {
    background-color: #111;
}

/* Style of main */
main{
    min-width: 320px;
    background: #fff;
    padding:50px;
    margin: 0 auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Table for sales listing begins here */
/* Style the table */

table {
    overflow-x:auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    margin-top: 30px;
    overflow-x: auto;
}
/* Style the th and data */
th, td {
    text-align: left;
    padding: 8px;
}
/*style for table images*/
.table_images{
    width:70px;
    height:70px;
}
/* Style hover over rows*/
tr:nth-child(even){background-color: #f2f2f2}


.row{
    width: 100%;
    justify-content: flex-start;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    flex-flow: row wrap;

}
/* Style for Product listing begins here */
/* Style for the product listing */
.col-40{
    width:55%;
}
.card {
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
}
/* Style for image of product */
.card img{
    max-width: 100%;
    height: auto !important;
    text-align: center;
}
/* Style for card when hovered over*/
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 5px 5px 0 0;
}
.container{
    padding: 2px 16px;
}