* {
    margin: 0px;
    /*padding: 5px;*/
    box-sizing: border-box;
}

/* Style of the Same background*/
body{
    height:100%;
}

/* Style the nav bar */
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

/* Style of the links*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* style when hovered over*/
li a:hover:not(.active) {
    background-color: #111;
}

/* Style of main */
main{
    min-width: 320px;
    padding:50px;
    margin: 0 auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #3399cc;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background: #ffffff;

}
/* Table for sales listing begins here */
/* Style the table */

table {
    overflow-x:auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    margin-top: 30px;
    overflow-x: auto;
}
/* Style the th and data */
th, td {
    text-align: left;
    padding: 8px;
}
/*style for table images*/
.table_images{
    width:70px;
    height:70px;
}
/* Style hover over rows*/
tr:nth-child(even){background-color: #f2f2f2}


.row{
    width: 100%;
    justify-content: flex-start;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    flex-flow: row wrap;

}
/* Style for Product listing begins here */
/* Style for the product listing */
.col-40{
    width:55%;
}
.card {
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
}
/* Style for image of product */
.card img{
    max-width: 100%;
    height: 65%;
    text-align: center;
}
/* Style for card when hovered over*/
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 5px 5px 0 0;
}
/*style for search box for filtering attendants names*/
#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
/*style for Account creation*/
/* Add padding to containers */

.login h1{
        background: #3399cc;
        padding: 20px 0;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        color: #fff;
    
}
form {
    background: #ffffff;
    padding: 6% 4%;
}
input[type="name"], input[type="password"], input[type="file"] {
    width: 100%;
    background: #eaf8fb;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
    padding: 2%;
    font-family: 'Open Sans',sans-serif;
    font-size: 100%;
    color: #555;
}
input[type="button"] {
    background: #3399cc;
    border: 0;
    padding: 2%;
    font-family: 'Open Sans',sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
}
#editBtn{
    background: #4dd6b0;
}
#deleteBtn{
    float: right;
    background: #d82c2c; 
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


.modal-header {
    padding: 2px 16px;
    background-color: #3399cc;
}
